/* DefaultLayout.css */

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 680px;
  background: #f0f2f5;
}

.ant-layout-has-sider {
  padding: 5px !important;
}

.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.ant-layout-sider {
  border-radius: 10px !important;
  padding-top: 10px !important;
}

.anticon svg {
  height: 20px;
  width: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
